<section class="container">
  <div class="controls">
    <button class="btn red" (click)="playGame(game)">Play Game</button>
    <div>Playback Rate</div>
    <input type="number" name="playRate" step="0.1" [(ngModel)]="game.playbackRate" />
  </div>
  <p>
    <strong>Score</strong> {{ game.score }} notes |
    <strong>Success rate</strong> {{ getGameSuccessRate(game) }}%
  </p>
  <div class="game-notes">
    <div  *ngFor="let note of game.template.data"
      [ngClass]="{ 'note': true, 'match': note.match }">
      String {{ note.stringId + 1 }} | Fret {{ note.fret }}
    </div>
  </div>
</section>