<div>
  <section>
    <h1>VR Hero</h1>
    <button (click)="scan()" *ngIf="!(connected$|async)"> Connect </button>
    <button (click)="playNotes()" *ngIf="connected$|async"> Play Notes </button>
    <button (click)="disconnect()" *ngIf="connected$|async"> Disconnect </button>
    <instruments (onChange)="changeInstrument($event)"></instruments>
    <div *ngIf="connected$|async">
      Connected to <strong>{{deviceName}}</strong>
    </div>
  </section>
  <section>
    <h2>Recording</h2>
    <button (click)="startRecording()">Start Recording</button>
    <button (click)="stopRecording()">Stop Recording</button>
    <button (click)="playRecording(demoRecording)">Play Demo Recording</button>
  </section>
  <section>
    <h2>Game</h2>
    <button (click)="playGame(game)">Play Game</button>
    <p>
      <strong>Score</strong> {{ game.score }} notes |
      <strong>Success rate</strong> {{ getGameSuccessRate(game) }}%
    </p>
    <div class="note" *ngFor="let note of game.template.data">
      String {{ note.stringId + 1 }} | Fret {{ note.fret }}
      <span [ngClass]="{ 'note-status': true, 'note-match': note.match }"></span>
    </div>
  </section>
</div>

