<nav>
  <div class="nav-wrapper">
    <a routerLink="/fretboard" class="brand-logo">
      Jamstik+
    </a>
    <ul class="secondary-nav">
      <li>
        <jamstik-instruments
          (onChange)="jamstikService.changeInstrument($event)">
        </jamstik-instruments>
      </li>
      <li>
        <a *ngIf="jamstikService.connected$|async">
          Connected to <strong>{{jamstikService.deviceName}}</strong>
        </a>
      </li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/fretboard">Fretboard</a></li>
      <li><a routerLink="/game">Game</a></li>
      <li><a routerLink="/recording">Recording</a></li>
      <li>
        <button class="btn waves-effect waves-light red"
          (click)="jamstikService.scan()" *ngIf="!(jamstikService.connected$|async)">
          Connect
          <i class="material-icons right">bluetooth</i>
        </button>
      </li>
      <li>
        <button class="btn waves-effect waves-light red"
          (click)="jamstikService.disconnect()" *ngIf="jamstikService.connected$|async">
          Disconnect
          <i class="material-icons right">bluetooth_disabled</i>
        </button>
      </li>
    </ul>
  </div>
</nav>
