/* You can add global styles to this file, and also import other style files */

@import url("//fonts.googleapis.com/icon?family=Material+Icons");
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css");

body {
    background: #0994D9;
    font-family: 'Roboto', sans-serif;
    padding-top: 85px;
}

nav {
    background: #222222;
    padding: 0 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;

    & .brand-logo {
        font-weight: 200;
    }

    .nav-wrapper i {
        height: auto;
        line-height: 35px;
    }

    ul li:last-child {
        margin-left: 12px;
    }

    .btn {
        padding: 0 12px;
    }
}

.secondary-nav {
    float: left;
    margin-left: 159px;
    border-left: 1px solid rgba(255,255,255,0.3);
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px !important;

    select {
        background: transparent;
        height: 33px;
        min-width: 185px;
    }
}